@import 'helpers';

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #FAFAFA;
	color: @default-font-color;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	line-height: 32.36px;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4 {
	font-family: 'Roboto Condensed', sans-serif;
	line-height: normal;
}

input {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	padding: 10px;
}

section {
	max-width: 1618px;
	margin: auto;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}
